[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "thirdparty/opencv_contrib"]
	path = thirdparty/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
